/* 
 * 	Default theme - Owl Carousel CSS File
 */
.owl-carousel{
	 width: auto;
}
.owl-theme .owl-controls {
  margin-top: 38px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.akc .owl-theme .owl-controls {
	margin-top: 0;
}
.owl-theme .owl-controls .owl-nav [class*='owl-'] {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: white;
  text-decoration: none;
}
.owl-theme .owl-controls .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 4px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {

	background: rgba(255,193,21,1);
	background: -moz-linear-gradient(top, rgba(255,193,21,1) 0%, rgba(255,162,1,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,193,21,1)), color-stop(100%, rgba(255,162,1,1)));
	background: -webkit-linear-gradient(top, rgba(255,193,21,1) 0%, rgba(255,162,1,1) 100%);
	background: -o-linear-gradient(top, rgba(255,193,21,1) 0%, rgba(255,162,1,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,193,21,1) 0%, rgba(255,162,1,1) 100%);
	background: linear-gradient(to bottom, rgba(255,193,21,1) 0%, rgba(255,162,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc115', endColorstr='#ffa201', GradientType=0 );
}
