@font-face {
    font-family: 'Trebuchet MS';
    src: url('TrebuchetMS.eot');
    src: url('TrebuchetMS.eot?#iefix') format('embedded-opentype'),
        url('TrebuchetMS.woff2') format('woff2'),
        url('TrebuchetMS.woff') format('woff'),
        url('TrebuchetMS.svg#TrebuchetMS') format('svg');
    font-weight: normal;
    font-style: normal;
}

